---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>¿Qué es Radio IDEO?</h1>
  <p>
  Radio IDEO es una web en la que se publicarán los podcasts grabados por alumnos de escuela IDEO.
  El contenido se ajustará a la asignatura a la que esté dirigido el podcast, o el tema que quiera abordar cada alumno, ya sean noticias nacionales o internacionales, o incluso deportes, cada uno tiene la libertad de hablar de lo que quiera y compartirlo con los demás.
  Con esta oágina web pretendemos facilitar el acceso y la publicación de estos podcasts.
  </p>
</BaseLayout>