---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Podcasts</h1>
<div class="list-of-arts">
  <div class="art-preview">
    <a href="/art">
      <div class="art-picture"></div>
    </a>
    <div class="description">
    Podcasts 1º de bachillerato
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Podcasts 2º de bachillerato
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Podcasts 4º ESO
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Podcasts de Filosofía
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Podcasts de Música
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Noticias de IDEO
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non risus ultricies, euismod tellus id, consectetur diam. Etiam varius, lorem id finibus vulputate, lectus ipsum tincidunt metus, eu bibendum ex nibh
    </div>
  </div>
</div>
</BaseLayout>